.form-bg{
    background-color: #edebe8;
    padding: 1%;
    width: 85%;
    height: 90vh;
    margin: auto;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
}

form{
    margin-top: 20px;
    padding: 0 1.5%;
    height: 80%;
    overflow-y: scroll;
}

form.no-scroll{
    overflow-y: initial;
    height: inherit;
}

form > section{
    display: flex;
    justify-content: center;
}

.form-img{
    position: relative;
    margin-top: 10px;
    border: 8px solid #ffffff;
}



.form-img img{
    border-radius: 4px;
    width: 100%;
}

.form-aside, .form-main{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 50%;
}

.form-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.input-group-row-3, .input-group-row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.input-group-row-3 div{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.input-group-row-2 div{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.input-group-row select, .input-group-row input{
    width: 100%;
}

.btn-modal{
    width: 50%;
}
.btn-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
}

.hover-layer > .form-bg > .page-header{
    margin-top: 0;
    padding: 25px 15px 20px 15px;
}
.hover-layer > .form-bg > .page-title h1 {
    margin: 0;
}

#input-wrapper {
    position: relative;
}

#input-wrapper span {
    position: absolute;
    top: 56%;
    margin-left: 10px;
}

#input-wrapper input {
    text-indent: 38px;
}
